body {
    height: auto;
    background-color: #0b1d3a;
    background-image: 
    radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px);
    background-size: 550px 550px, 350px 350px, 250px 250px;
    background-position: 0 0, 40px 60px, 130px 270px;

    width: 100%;
    max-width: 1100px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    gap: 15px;

    font-family: "Segoe UI", sans-serif;
    font-size: 16px;

    border-right: 5px double rgba(255, 255, 255, 0.514);
    border-left: 5px double rgba(255, 255, 255, 0.514);
    border-radius: 5px;

    padding: 10px;
}

h1 {
    color: cyan;
    font-size: 2.2rem;
}

p {
    color: #d9d94f;
    font-size: 1rem;
    line-height: 1.6;
}

h2 {
    font-size: 1.8rem;
    color: white;
}

h3 {
    font-size: 1.4rem;
    color: gray;
}

section, header {
    background-color: transparent;
    border-bottom: 5px double rgba(255, 255, 255, 0.514);
    padding-bottom: 15px;
}

a {
    text-decoration: none;
    color: rgb(0, 255, 34);
    background-color: gray;
    border: 3px solid black;
    border-radius: 7px;
    padding: 2px;
    transition: all 0.5s ease;
    display: inline-block;
}

a:hover, a:focus {
    color: red;
    background-color: white;
    transform: scale(1.1);
}

a:active {
    color: green;
}